<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">

    <title>Our shop!</title>
</head>
<body>

<div class="container">

    <div th:insert="fragments/top_menu">    </div>

    <h1>All our items</h1>

    <p th:each="item : ${items}">
        <a style="color: blue;" th:href="@{'/update/' + ${item.id}}">update</a>
        <span th:text="${item.name}"/>
        <span th:text="${item.price}"/>
        <a style="color: red;" th:href="@{'/delete/' + ${item.id}}">delete</a>

    </p>

    <div th:insert="fragments/bottom_text">    </div>

</div>

</body>
</html>